.NFTmarket-1st {
    color: plum;
    width: 100px;
    height: 10px;
    margin-left: 40px;
    top: 30px;
}

.NFTmarket-title-container {
    display: flex;
    font-weight: bold;
}

.NFTmarket-title1 {
    font-size: 30px;
    margin: 0px 0px 0px 38px;
}

.NFTmarket-title2 {
    color: palevioletred;
    font-size: 30px;
    margin: 0px 10px;
}

.NFTmarket-title3 {
    font-size: 30px;
    margin: 0px;
}

.NFTmarket-2nd {
    font-size: 30px;
    margin: 0px 0px 0px 38px;
    font-weight: bold;
}

.NFTmarket-3rd {
    color: #68676E;
    margin: 0px 0px 0px 38px;
}

.NFTmarket-Explore {
    background: linear-gradient(90deg, rgba(234, 233, 255, 1)0%, rgba(252, 167, 213, 1)35%, rgba(194, 245, 255, 1)100%);
    border-radius: 40px;
    text-align: center;
    width: 124px;
    height: 40px;
    margin-left: 38px;
    padding-top: 10px;
}