body{
    background-color: white;
    text-align: left;
}

.p-uploadfile{
    font-size: 18px;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: bold;
}
.p-selectmethod{
    font-size: 18px;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

.upload-nft{
    border-radius: 30px;
    text-align: center;
    border: 1px dashed black;
    width:600px;
    height:100px;
    margin-top: 10px;
    margin-left: 40px;
    padding-top:30px;

}

.btn-2box{
    display:flex;
    margin-left: 40px;
}

.border-box1{
    border: 1px solid black;
    padding:20px;
    border-radius: 30px;
}
.border-box2{
    margin-left: 50px;
    border: 1px solid black;
    padding:20px;
    border-radius: 30px;
}

.btn-box1{
    background-color: white;
    border:none;
}
.btn-box2{
    background-color: white;
    border:none;
}

.img-box1{
    height:40px;
    width:40px;
}
.img-box2{
    height:40px;
    width:40px;
}

// 
.all-input{
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 40px;
   

}

.p-price{
    font-size: 18px;
    font-weight: bold;
    
}

.input-1{
    height:30px;
    width:600px;
}
///
.unlock-box{
    
    border-radius: 10px;
    border: 1px solid black;
    height:90px;
    width:600px;
    margin-top: 30px;
    margin-left: 40px;

}
.p-unlock{
    margin-left:20px;
    margin-top:20px;
    font-size: 18px;
}
.p-unlock1{
    margin-left:20px;
    margin-top:-5px;
    font-size: 15px;
}

.toggle1{
   margin-left: 500px;
}

.input-choose{
    margin-top: 30px;
    margin-left: 40px;

}
.p-choose{
    font-size: 18px;
    font-weight: bold;
}
.p-txt-unlock{
    margin-top: 10px;
    font-size: 15px;

}

.input-select{
    margin-top: 20px;

}