.signupNFT{
    
    display: flex;
}
.alltitle {
margin-top:50px;
margin-left: 70px;
font-family: 'Integral CF';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 38px;
align-items: center;
color: #000000;
}
.title1 {
    font-weight: bold;
}

