.header {
    display: flex;
    align-items: center;
    padding: 40px 0;
    &__brand {
        color: #3d00b7;
        font-weight: 700;
        font-size: 4rem;
        line-height: 29px;
    }

    &__menu {
        margin-left: 60px;
        display: flex;
        align-items: center;
        gap: 40px;

        &-item {
            a {
                text-decoration: none;
                font-style: normal;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 2.1rem;
                letter-spacing: 0.04em;

                color: #000000;
            }
        }
    }
    &__btn-group {
        margin-left: auto;
        display: flex;
        gap: 20px;
    }

}