.heading{
    height: 109px;
    width: 1500px;
    color: #3d00b7;
    font-size: 30px ;
    font-weight: 500;
    line-height: 100%;
    position: absolute;
    padding-left: 120px;
    background-color: #fff ;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
}

.heading_list-menu{
    list-style-type: none;
    display: inline-block;
    padding-left: 47px;
    position: relative;
    color: black;
    cursor: pointer;
    align-items: center;
}

.heading_list-item{
    padding-left: 293px;
    position: relative;
}

.header_list-menu--separate::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #f1f1f1;
    right: 140px;
    top: 4px;
}