.background {
    position: absolute;
    width: 1440px;
    height: 326px;
    left: 10px;
    top: 728px;

    background: rgba(217, 224, 236, 0.2);
    backdrop-filter: blur(25px);
}

.amaze1 {
    position: absolute;
    width: 398px;
    height: 68px;
    left: 121px;
    top: 857px;

    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

    color: #000000;

}

.icon1 {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 605px;
    top: 815px;

}

.amaze2 {
    position: absolute;
    height: 26px;
    width: 160px;
    left: 50px;
    top: 5px;
    border-radius: nullpx;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */


    color: #000000;

}
.amaze3{
    position: absolute;
width: 249px;
height: 66px;
left: 656px;
top: 891px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
/* or 22px */


color: #ebe6e6;

}
.icon2{
    position: absolute;
width: 36px;
height: 36px;
left: 961px;
top: 815px;

}
.amaze4{
    position: absolute;
width: 191px;
height: 26px;
left: 1012px;
top: 853px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;



color: #000000;

}
.amaze5{
    position: absolute;
width: 311px;
height: 44px;
left: 1012px;
top: 891px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
/* or 22px */


color: #faf9f9;

}