.Footer-con{
    position: absolute;
    width: 1200px;
    height: 353px;
    left: 120px;
    top: 5351px;
    
}
/* The world’s first and largest digital marketplace for crypto collectibles and non-fungible tokens (NFTs). Buy, sell, and discover exclusive digital items. */

.twf{
    position: absolute;
    width: 333px;
    height: 66px;
    left: 120px;
    bottom: 255px;
    
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    
    
    color: #565656;
}
/* Apcers */

.APCERS{
    position: absolute;
    width: 110px;
    height: 29px;
    left: 120px;
    bottom: 348px;
    
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #000000;
}
/* Market Place */

.MP{
    position: absolute;
    width: 113px;
    height: 23px;
    left: 553px;
    bottom: 350px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    
    color: #000000;
}
/* All NFTs New Art Sports Utility Music Domain Name */

.ALL{
    position: absolute;
    width: 93px;
    height: 196px;
    left: 553px;
    bottom: 130px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;
    /* or 28px */
    
    
    color: #3D3D3D;
}
/* My Account */

.MA{
    position: absolute;
    width: 106px;
    height: 23px;
    left: 758px;
    bottom: 350px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    
    color: #000000;
}


/* Profile Favorite My Collections Settings */

.PF{
    position: absolute;
    width: 99px;
    height: 112px;
    left: 758px;
    bottom: 214px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;
    /* or 28px */
    
    
    color: #3D3D3D;
}
/* Stay in the loop */

.SITL{
    position: absolute;
    width: 144px;
    height: 23px;
    left: 956px;
    bottom: 350px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    
    color: #000000;
}
/* Join our mailing list to stay in the loop with our newest feature releases, NFT drops, and tips and tricks for navigating NFTs. */

.JOIN{
    position: absolute;
    width: 362px;
    height: 66px;
    left: 956px;
    bottom: 260px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    
    
    color: #363639;
}
/* Rectangle 32 */
.REC{
    box-sizing: border-box;

position: absolute;
width: 364px;
height: 60.79px;
left: 956px;
bottom: 175.21px;

background: #FFFFFF;
border: 2px solid #F1F1F1;
border-radius: 45.595px;
}
/* Enter your email address.. */
.ENTER{
    position: absolute;
width: 144.38px;
height: 15.96px;
left: 981.84px;
bottom: 197.24px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 12.1587px;
line-height: 16px;

}




/* Line 17 */

.line{
   position:absolute;
    width: 1200px;
    height: 0px;
    left: 120px;
    top: 5667px;
    
    border: 1px solid #F4F4F4;
}
/* Copyright © 2022 Avi Yansah */

.no{
    position: absolute;
    width: 186px;
    height: 22px;
    left: 627px;
    bottom: 24px;
    padding: 20px 0px;
    top: 5667px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* or 22px */
    
    
    color: #A4A4A4;
}






