.footer {
    &__top {
        display: flex;
        gap: 100px;
        padding: 70px;

        &-item {
            &:nth-child(1) {
                flex: 2;
            }

            &:nth-child(2) {
                flex: 1;
            }

            &:nth-child(3) {
                flex: 1;
            }

            &:nth-child(4) {
                flex: 2;
            }
        }

        .brand {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
        }

        .desc {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
        }

        .title {
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            text-transform: capitalize;
        }

        .list {
            li a {
                font-weight: 500;
                font-size: 14px;
                line-height: 200%;
                color: #3D3D3D;
            }
        }
    }
}

.line {

    border: 1px solid #F4F4F4;
}

/* Copyright © 2022 Avi Yansah */

.no {
    padding: 20px 0px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* or 22px */


    color: #A4A4A4;
}